:root {
  --fancyShadow: 15px 0 0 -4px rgb(203, 199, 180) inset,
    30px 0 0 -6px rgb(93, 89, 75, 0.3) inset,
    35px 0 0 -4px rgb(203, 199, 180) inset,
    40px 0 0 -6px rgb(93, 89, 75, 0.3) inset; /*offset x, y, blur, spread, color*/

  --fancyShadowOutset: -50px 0 0 -4px #b3af9c,
    -55px 0 0 -6px rgb(93, 89, 75, 0.3), -60px 0 0 -4px #b3af9c,
    -80px 0 0 -6px rgb(93, 89, 75, 0.3);
}

ul {
  list-style-type: none;
}
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
body {
  height: 100vh;
  background-color: #c5c1ab;
  gap: 20px;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: minmax(60px, 15%) minmax(400px, 70%) minmax(60px, 15%);
}
header {
  grid-area: header;
  padding: 30px;
  display: flex;
  justify-items: center;
  align-items: center;

  display: grid;
}
h2 {
  color: rgb(45, 41, 32);
  justify-content: center;
  display: grid;
}
.add_btn {
  color: rgb(45, 41, 32);
  padding-left: 30px;
  text-align: left;
  border: none;
  width: 150px;
  height: 30px;
  background-image: url(./imgs/addIconDark.svg);
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: rgba(112, 107, 91, 0.2);
  font-size: 1.2rem;
}
.add_btn:hover {
  border: none;
  color: #c5c1ab;
  background-color: rgb(93, 89, 75);
  background-image: url(./imgs/addIconLight.svg);
}

#mainContainer {
  display: grid;
  position: relative;
  grid-area: body;

  grid-template-areas: "listContainer infoContainer";
  grid-template-columns: 1fr 1fr;
  align-items: center;

  background-color: #b3af9c;

  border-image-slice: 55 27 55 27;
  border-image-width: 30px 0 30px 0;
  border-image-repeat: round;
  border-style: solid;
  border-image-source: url(imgs/bgoutline.png);
}
.sortBtn {
  font-size: 1.1rem;
  padding: 10px;
  font-weight: normal;
  background-color: #c5c1ab;
}
.sortBtn:hover {
  background-color: rgb(93, 89, 75);
  color: #c5c1ab;
}
.contentContainer {
  height: 80%;
  width: 70%;
  min-width: 400px;
  padding: 0;
  background-color: #c5c1ab;
  border: 1px solid black;
}
#listContainer {
  grid-area: listContainer;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-shadow: var(--fancyShadowOutset);
  color: rgb(83, 76, 57);
  word-break: break-all;
}
#listContainer::-webkit-scrollbar {
  height: 3px;
  width: 15px;
}
#listContainer::-webkit-scrollbar-track-piece {
  background-color: #b3af9c;
}
#listContainer::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(83, 76, 57);
  height: 30px;
}
.iconDiv {
  display: none;
  position: relative;
  width: 0;
  right: 65px;
  top: 7px;
}
.listIcon {
  height: auto;
  width: 40px;
}
#titleList {
  padding: 0 0;
}
.titleDiv {
  display: flex;
}
.listBookTitle {
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  text-justify: center;
  padding: 5px 0;
}

.titleDiv:hover > .iconDiv {
  display: block;
}
.listBookTitle:hover {
  background-clip: content-box;
  background-color: rgb(83, 76, 57);
  border-top: 1px solid rgb(83, 76, 57);
  border-bottom: 1px solid rgb(83, 76, 57);
  color: #c5c1ab;
}
.listBookTitle:focus:not(:hover) {
  background-clip: content-box;
  background-color: rgb(83, 76, 57);
  border-top: 1px solid rgb(83, 76, 57);
  border-bottom: 1px solid rgb(83, 76, 57);
  color: #c5c1ab;
}

.formInput:focus ~ .icon {
  display: grid;
}
.formInput:focus {
  outline: none;
  border: none;
}
input:not(:focus) {
  outline: none;
  border: none;
}

#infoContainer {
  grid-area: infoContainer;
  justify-self: center;
  padding: 0;
}
#bookInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.dataInfoDiv {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.dataInfo {
  word-break: break-all;
}
#infoHeaderDiv {
  display: flex;
  justify-content: space-between;
  background-color: rgb(93, 89, 75);
}
#infoHeader {
  background-color: rgb(93, 89, 75);
  color: #c5c1ab;
  padding: 10px;
}
#editBtn {
  background-color: rgb(93, 89, 75);
}
#pencilIcon {
  height: 30px;
}
#infoHr {
  border-color: #c5c1ab;
  margin: 0 10px;
}
#footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.popup {
  display: none;
  position: absolute;
  padding: 25px 40px 25px 5px;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  height: 50%;
  min-height: 300px;
  max-height: 400px;
  background-color: rgb(203, 199, 180);

  align-self: center;
  justify-self: center;
  align-content: center;

  border-style: solid;
  border-image-slice: 24 24 24 24;
  border-image-width: 25px;
  border-image-repeat: round;
  border-image-source: url(imgs/popupBG.png);
}
#newBook_Form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  box-shadow: var(--fancyShadow);
  color: rgb(83, 76, 57);
}
.formSection {
  display: grid;
  grid-template-areas:
    ". label"
    "icon input"
    ". authentify";
  grid-template-columns: 57px 90%;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  padding: 0 8px;
  gap: 0 5px;
}
.icon {
  display: none;
  grid-area: icon;
  justify-self: end;
  align-self: center;
  padding: 0 10px 0 0;
  height: 20px;
  width: 40px;
}
.formLabel {
  grid-area: label;
}
.formInput {
  grid-area: input;
  width: 90%;
}
.formAuthentify {
  grid-area: authentify;
  font-size: 0.9rem;
  justify-self: center;
}
.checkboxContainer {
  margin-left: 70px;
}
#popupHr {
  border-color: #c5c1ab;
  margin-left: 70px;
}

#submitBtn,
#closeBtn {
  padding-left: 30px;
  text-align: left;
  width: 150px;
  height: 30px;
  background-image: url(./imgs/square-icon-dark.svg);
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: rgba(112, 107, 91, 0.2);
  font-size: 1.2rem;
}
#submitBtn:hover,
#closeBtn:hover {
  border: none;
  color: #c5c1ab;
  background-color: rgb(93, 89, 75);
  background-image: url(./imgs/square-icon-light.svg);
}
.popupBtns {
  display: none;
  flex-grow: 1;
  justify-content: space-evenly;
  align-self: center;
  margin-bottom: 50px;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
}

#newBook_Form > div > input {
  box-shadow: 3px 2px 2px rgba(22, 21, 18, 0.4); /*offset x, y, blur, spread, color*/
  background-color: rgba(112, 107, 91, 0.2);
  font-size: 1.2rem;
}
#newBook_Form > div > p {
  color: rgb(113, 33, 33);
}
input[type="button"],
input[type="submit"] {
  color: rgb(83, 76, 57);
}

@media screen and (max-width: 830px) {
  #mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 80vh;
    min-height: 700px;
    min-width: none;
  }

  body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    min-width: 200px;
  }
  header {
    padding: 20px;
    margin: 0;
  }
  .contentContainer {
    max-height: 300px;
    min-height: 200px;
    min-width: 380px;
  }
}
