ul {
  list-style-type: none;
}
* {
  margin: 0;
}
body {
  height: 100vh;
  background-color: rgb(203, 199, 180);

  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: 20% 50% 20%;
}
header {
  grid-area: header;
  padding: 30px;
  display: grid;
  justify-content: center;
}
h2 {
  justify-content: center;
  display: grid;
  padding: 20px;
}
#mainContainer {
  grid-area: body;
  box-shadow: 0 -4px 0 2px rgb(80, 80, 80);
  border-top: solid;
  border-image: url(imgs/bgoutline.png) 100% 0 0 0 / 30px round;
}
#mainBtmBrdr {
  grid-area: footer;
  width: 100%;

  box-shadow: 0 4px 0 2px rgb(80, 80, 80);
  border-bottom: solid;
  border-image: url(imgs/bgBtmOutline.png) 0 0 100% 0 / 30px round;
}

.newBook_form {
  display: grid;
  padding: 20px;
  gap: 10px;
}
.popup {
  padding: 20px;
  display: none;
}
.bookshelfItem {
  height: 1rem;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  border-bottom: 0;
}
