:root {
  --fancyShadow: -10px 0 0 -4px rgb(203, 199, 180),
    -15px 0 0 -6px rgb(93, 89, 75, 0.3), -17px 0 0 -4px rgb(203, 199, 180),
    -30px 0 0 -6px rgb(93, 89, 75, 0.3); /*offset x, y, blur, spread, color*/
}

ul {
  list-style-type: none;
}
* {
  margin: 0;
}
body {
  height: 100vh;
  background-color: #c5c1ab;
  gap: 20px;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: minmax(100px, 20%) minmax(400px, 70%) minmax(100px, 20%);
}
header {
  grid-area: header;
  padding: 30px;
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
  display: grid;
}
h2 {
  justify-content: center;
  display: grid;
}
#mainContainer {
  display: grid;
  position: relative;
  grid-area: body;

  background-color: #b3af9c;

  border-image-slice: 55 27 55 27;
  border-image-width: 30px 0 30px 0;
  border-image-repeat: round;
  border-style: solid;
  border-image-source: url(imgs/bgoutline.png);
}
#footer {
  grid-area: footer;
}
.popup {
  display: none;
  position: absolute;
  padding: 35px;
  width: 60%;
  height: minmax(10px, 50%);
  background-color: rgb(203, 199, 180);

  align-self: center;
  justify-self: center;

  border-style: solid;
  border-image-slice: 24 24 24 24;
  border-image-width: 25px;
  border-image-repeat: round;
  border-image-source: url(imgs/popupBG.png);
}
#newBook_Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  gap: 10px;
  box-shadow: var(--fancyShadow);
}
#newBook_Form > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#newBook_Form > div > input {
  border-style: solid;
  border-image-slice: 24 24 24 24;
  border-image-width: 0 0 0 10px;
  border-image-repeat: round;
  border-image-source: url(imgs/popupBG.png);
  border-image-outset: 8.5;
  box-shadow: 3px 2px 2px rgba(22, 21, 18, 0.4); /*offset x, y, blur, spread, color*/
  background-color: rgba(112, 107, 91, 0.2);
}
#newBook_Form > div > p {
  color: rgb(113, 33, 33);
}
#newBook_Form > input[type="submit"] {
  width: 100px;
  align-self: flex-end;
}

.bookshelfItem {
  height: 1rem;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  border-bottom: 0;
}

input:focus {
  outline: none;
}
